# Archivos de Visual Studio
.vs/
*.user
*.suo

# Binarios y objetos compilados
bin/
obj/
*.dll
*.exe
*.pdb

# Archivos temporales
*.tmp
*.log

# Configs del sistema
*.DS_Store
Thumbs.db

# Archivos de publicación
*.publishsettings

# Archivos de Rider (si alguno labura con JetBrains)
.idea/

# Archivos de migraciones generados por EF que no quieras trackear (opcional)
# Migrations/

# Archivos de test y coverage (opcional)
TestResults/
*.coverage
*.coveragexml

# Archivos de entorno
.env

# Archivos generados por el sistema operativo
desktop.ini

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo
